* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-primary);
  font-size: var(--html);
}

body {
  font-size: var(--text-xl);
  color: var(--clr-white);
  background-color: var(--clr-black);
  line-height: 1.5;
}

button:disabled {
  cursor: not-allowed;
}

/* Font Family */
.font-primary {
  font-family: var(--font-primary);
}

/* Font Family */

/* Sizes */

h1,
.h1 {
  font-size: var(--text-5xl);
}

h2,
.h2 {
  font-size: var(--text-4xl);
}

h3,
.h3 {
  font-size: var(--text-3xl);
}

h4,
.h4 {
  font-size: var(--text-2xl);
}

h5,
.h5 {
  font-size: var(--text-lg);
}

h6,
.h6 {
  font-size: var(--text-sm);
}

p,
.p {
  font-size: var(--text-xl);
}
/* Sizes End */

/* Colors Start */

.clr-white {
  color: var(--clr-white);
}

.clr-primary {
  color: var(--clr-primary);
}

.clr-black {
  color: var(--clr-black);
}

.clr-gray {
  color: var(--clr-gray);
}

.clr-success {
  color: var(--clr-success);
}

.clr-alert {
  color: var(--clr-alert);
}
/* Color End */

/* Background Color Start */
.bg-primary {
  background-color: var(--clr-primary);
}

.bg-black {
  background-color: var(--clr-black);
}

.bg-white {
  background-color: var(--clr-white);
}

.bg-success {
  background-color: var(--clr-success);
}

.bg-alert {
  background-color: var(--clr-alert);
}

.bg-error {
  background-color: var(--clr-error);
}

/* Background Colors End */

/* Common Grid Template Columns Class Start */
.grid-columns {
  grid-template-columns: repeat(var(--grid-columns, 2), 1fr);
}
/* Common Grid Template Columns Class End */

/* Common Grid Gap Class Start */
.gap-2xl {
  grid-gap: var(--space-2xl);
}

.gap-xl {
  grid-gap: var(--space-xl);
}

.gap-xs {
  grid-gap: var(--space-xs);
}
/* Common Grid Gap Class End */

/* Utilities */
.cursor-pointer {
  cursor: pointer;
}

.rounded-pill {
  border-radius: 9999px;
}

.list-style-none {
  list-style: none;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: flex;
  object-fit: cover;
  flex: 0 0 auto;
}

/* Utilities End */

/* TEXT CLAMP */
.text-ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.line-clamp-1 {
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  -webkit-line-clamp: 3;
}

/* Page CSS */

/* Defult Card Design */
.card {
  border: 1px solid rgba(var(--clr-gray-rgb), 0.2);
  border-radius: var(--space-md);
  padding: var(--space-xl);
}

.border {
  border-style: solid;
}

.border-2 {
  border-width: 2px;
}

.border-primary {
  border-color: var(--clr-primary);
}

.styleguide-card {
  gap: var(--space-2xl);
}

::-webkit-scrollbar {
  display: none;
}
